{% load static %}
<div class="footer-area">

    <div class=" footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Sobre nosotros</h4>
                        <div class="footer-title-line"></div>
                        <img src="{% static 'assets/img/footer-logo2.png' %}" alt="" class="wow pulse" data-wow-delay="1s">
                        <p>Somos una plataforma que implementa una nueva forma de encontrar propiedades.</p>
                        <!--<ul class="footer-adress">
                            <li><i class="pe-7s-mail strong"> </i> Hola@AndoBuscando.com.ar</li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Enlaces de interés</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><a href="{% url 'index' %}">Inicio</a></li> 
                            <li><a href="{% url 'busquedas' %}">Búsquedas</a>  </li> 
                            <li><a href="{% url 'propiedades' %}">Propiedades</a>  </li> 
                            <li><a href="{% url 'contacto' %}">Contacto</a></li> 
                            <li><a href="{% url 'faq' %}">Preguntas frecuentes</a>  </li> 
                            <li><a href="{% url 'politicas' %}">Políticas de privacidad</a>  </li> 
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Lo más reciente</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-blog">
                            {% for propiedad in ultimas_propiedades %}
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="{% url 'detalles_propiedad' propiedad.id %}">
                                        <img src="{{ propiedad.foto.url }}">
                                    </a>
                                    <span class="blg-date">{{propiedad.fecha_creacion |date:"d/m/Y"}}</span>

                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="{% url 'detalles_propiedad' propiedad.id %}">{{propiedad.titulo}}</a></h6> 
                                    <!--<p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>-->
                                </div>
                            </li> 
                            {% empty %}
                                <p>No hay propiedades aún.</p>
                            {% endfor %}



                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Comunicate</h4>
                        <div class="footer-title-line"></div>
                        <p>Ante cualquier consulta, queja o reclamo, envíanos un correo electrónico.</p>

                        <ul class="footer-adress">
                            <li><i class="pe-7s-mail strong"> </i> Hola@AndoBuscando.com.ar</li>
                        </ul>
                        <br>
                        <div class="social pull-right"> 
                            <ul>
                                <li><a class="wow fadeInUp animated" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://www.facebook.com" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://plus.google.com" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>