
<form method="get" action="/propiedad/" class=" form-inline" id="busqueda-form">
    <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>
    <div class="form-group">                                   
        <select name="barrio" id="barrio-select" class="form-control" data-live-search="true" data-live-search-style="begins">
            <option value="" selected disabled>Barrio</option>
        </select>
    </div>
    <div class="form-group">                                     
        <select id="basic" class="form-control" name="tipo_operacion">
            <option disabled selected> Operacion </option>
            <option value="1">Alquiler</option>
            <option value="2">Compra</option>                 
            <option value="3">Venta</option>
        </select>
    </div>
    <div class="form-group">                                     
        <select name="tipo_propiedad" class="form-control" name="tipo_propiedad">
            <option value="" selected disabled>Tipo propiedad</option>
            <option value="1">Casa</option>
            <option value="2">Departamento</option>
            <option value="3">Garage</option>
            <option value="4">PH</option>
            <option value="5">Quinta</option>
            <option value="6">Oficina comercial</option>
            <option value="7">Local comercial</option>
            <option value="8">Terreno</option>
          </select>
    </div>
    
    <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

    <div style="display: none;" class="search-toggle">

        <div class="search-row">   

            <div class="form-group mar-r-20">
                <label for="price">Rango de precios:</label>
                <select name="moneda" class="form-control" >
                    <option selected disabled>Moneda</option>
                    <option value="USD">USD</option>
                    <option value="ARS">ARS</option>
                </select>
                <input type="number" class="form-control" placeholder="Min($)" name="min_precio">
                <input type="number" class="form-control" placeholder="Max($)" name="max_precio"><br />
            </div>
              

            <div class="form-group mar-r-20">
                <label for="property-geo">Metros cuadrados (m2):</label>
                <input type="text" class="span2" value="" data-slider-min="0" 
                       data-slider-max="1200" data-slider-step="1" 
                       data-slider-value="[0,20]" id="property-geo" name="metros_cuadrados"><br />
                <b class="pull-left color">20m2</b> 
                <b class="pull-right color">1200m2</b>
            </div>
            <div class="form-group mar-r-20">
                <label for="price-range">Ambientes:</label>
                <input type="text" class="span2" value="" data-slider-min="0" 
                       data-slider-max="20" data-slider-step="1" 
                       data-slider-value="[0,1]" id="min-baths" name="ambientes"><br />
                <b class="pull-left color">1</b> 
                <b class="pull-right color">20</b>
            </div>
        </div>
    </div>      
    <div id="mensaje-filtros" class="alert alert-warning" style="display: none; margin-top: 10px;">
        Debe seleccionar al menos un filtro para realizar la búsqueda.
    </div>          
</form>