
<form method="get" action="/propiedad/" class=" form-inline">
    <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>
    <div class="form-group">                                   
        <select name="localidad" id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" >
            <option value="" selected disabled>Localidad</option>
            <option value="1">Almagro</option>
            <option value="2">Agronomía</option>
            <option value="3">Balvanera</option>
            <option value="4">Barracas</option>             
            <option value="5">Belgrano</option>
            <option value="6">Boedo</option>
            <option value="7">Caballito</option>
            <option value="8">Chacarita</option>
            <option value="9">Coghlan</option>
            <option value="10">Colegiales</option>
            <option value="11">Constitución</option>
            <option value="12">Flores</option>
            <option value="13">Floresta</option>
            <option value="14">La Boca</option>
            <option value="15">La Paternal</option>
            <option value="16">Liniers</option>
            <option value="17">Mataderos</option>
            <option value="18">Monte Castro</option>
            <option value="19">Monserrat</option>
            <option value="20">Nueva Pompeya</option>
            <option value="21">Núñez</option>
            <option value="22">Palermo</option>
            <option value="23">Parque Avellaneda</option>
            <option value="24">Parque Chacabuco</option>
            <option value="25">Parque Chas</option>
            <option value="26">Parque Patricios</option>
            <option value="27">Puerto Madero</option>
            <option value="28">Recoleta</option>
            <option value="29">Retiro</option>
            <option value="30">Saavedra</option>
            <option value="31">San Cristóbal</option>
            <option value="32">San Nicolás</option>
            <option value="33">San Telmo</option>
            <option value="34">Vélez Sársfield</option>
            <option value="35">Versalles</option>
            <option value="36">Villa Crespo</option>
            <option value="37">Villa del Parque</option>
            <option value="38">Villa Devoto</option>
            <option value="39">Villa General Mitre</option>
            <option value="40">Villa Lugano</option>
            <option value="41">Villa Luro</option>
            <option value="42">Villa Ortúzar</option>
            <option value="43">Villa Pueyrredón</option>
            <option value="44">Villa Real</option>
            <option value="45">Villa Riachuelo</option>
            <option value="46">Villa Santa Rita</option>
            <option value="47">Villa Soldati</option>
            <option value="48">Villa Urquiza</option>
        </select>
    </div>
    <div class="form-group">                                     
        <select id="basic" class="form-control" name="tipo_operacion">
            <option disabled selected> Operacion </option>
            <option value="1">Alquiler</option>
            <option value="2">Compra</option>                 
            <option value="3">Venta</option>
        </select>
    </div>
    <div class="form-group">                                     
        <select name="tipo_propiedad" class="form-control" name="tipo_propiedad">
            <option value="" selected disabled>Tipo propiedad</option>
            <option value="1">Casa</option>
            <option value="2">Departamento</option>
            <option value="3">Garage</option>
            <option value="4">PH</option>
            <option value="5">Quinta</option>
            <option value="6">Oficina comercial</option>
            <option value="7">Local comercial</option>
            <option value="8">Terreno</option>
          </select>
    </div>
    
    <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

    <div style="display: none;" class="search-toggle">

        <div class="search-row">   

            <div class="form-group mar-r-20">
                <label for="price">Rango de precios:</label>
                <select name="moneda" class="form-control" >
                    <option selected disabled>Moneda</option>
                    <option value="USD">USD</option>
                    <option value="ARS">ARS</option>
                </select>
                <input type="number" class="form-control" placeholder="Min($)" name="min_precio">
                <input type="number" class="form-control" placeholder="Max($)" name="max_precio"><br />
            </div>
              

            <div class="form-group mar-r-20">
                <label for="property-geo">Metros cuadrados (m2):</label>
                <input type="text" class="span2" value="" data-slider-min="0" 
                       data-slider-max="1200" data-slider-step="1" 
                       data-slider-value="[0,450]" id="property-geo" name="metros_cuadrados"><br />
                <b class="pull-left color">20m2</b> 
                <b class="pull-right color">1200m2</b>
            </div>
            <div class="form-group mar-r-20">
                <label for="price-range">Ambientes:</label>
                <input type="text" class="span2" value="" data-slider-min="0" 
                       data-slider-max="20" data-slider-step="1" 
                       data-slider-value="[0,4]" id="min-baths" name="ambientes"><br />
                <b class="pull-left color">1</b> 
                <b class="pull-right color">20</b>
            </div>
        </div>
    </div>                     
</form>

<!--
<form method="get" action="/propiedad/">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Buscar</button>
</form> -->