{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Página Principal{% endblock %}

{% block content %}
        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h2 class="wow fadeInLeft animated">CONTACTO</h2>
                        <div class="title-line wow fadeInRight animated"></div>
                    </div>
                </div>
            </div>
        </div>
    
            <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="row">
                <div class="col-sm-12 page-title">
                    <!-- /.feature title -->
                    <p>Si necesitás ponerte en contacto con nuestro equipo, podés hacerlo a través de los siguientes medios:</p>
                </div>
            </div>

            <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
                <div class="container">  
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2"> 
                            <div class="" id="contact1">                        
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3><i class="fa fa-phone"></i> Teléfono</h3>
                                        <p><strong>+54 11 1234-5678</strong></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3><i class="fa fa-envelope"></i> Correo electrónico</h3>
                                        <p><strong><a href="mailto:">Hola@AndoBuscando.com.ar</a></strong></p>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 page-title">
                    <!-- /.feature title -->
                    <p>Atendemos consultas de lunes a viernes, de 9:00 a 18:00 hs.
                    <br>Estamos disponibles para responder dudas, brindar asistencia sobre el uso de la plataforma o recibir sugerencias que nos ayuden a mejorar el servicio.</p>
                </div>
            </div>
        </div>

{% endblock %}
