{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Página Principal{% endblock %}

{% block content %}
        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h2 class="wow fadeInLeft animated">PREGUNTAS FRECUENTES</h2>
                        <div class="title-line wow fadeInRight animated"></div>
                    </div>
                </div>
            </div>
        </div>
    
            <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">    

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <!--<h2>Our terms </h2>-->
                        <br>
                    </div>
                </div>

                <div class="row row-feat"> 
                    <div class="col-md-12">
                         <div class="col-sm-6 feat-list">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa11" >
                                            ¿Cómo funciona la plataforma?
                                         </h4> 
                                    </div>
                                    <div id="fqa11" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                Nuestra plataforma permite que cualquier persona interesada en alquilar o comprar una propiedad publique una búsqueda detallada (tipo de inmueble, zona, presupuesto, etc.). A partir de esa publicación, agentes inmobiliarios registrados pueden ponerse en contacto para ofrecer propiedades que se ajusten a lo que busca.
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa22" >
                                            ¿Tiene algún costo para los usuarios?
                                         </h4> 
                                    </div>
                                    <div id="fqa22" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                No. Publicar una búsqueda en nuestra plataforma es completamente gratuito para los usuarios que desean encontrar una propiedad.
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa33" >
                                            ¿Quién me va a contactar?
                                         </h4> 
                                    </div>
                                    <div id="fqa33" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                Agentes inmobiliarios registrados en nuestra red recibirán notificación de tu búsqueda y podrán comunicarse directamente contigo si tienen propiedades que se ajusten a tus necesidades.
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 feat-list">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa1" >
                                            ¿Debo registrarme para publicar una búsqueda?
                                         </h4> 
                                    </div>
                                    <div id="fqa1" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                Sí, es necesario crear una cuenta para poder publicar una búsqueda. Esto nos permite proteger tu información y facilitar el contacto con los agentes.
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2" >
                                            ¿Puedo editar o eliminar mi búsqueda?
                                         </h4> 
                                    </div>
                                    <div id="fqa2" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                Sí. Desde tu panel de usuario podés editar los datos de la búsqueda o eliminarla en cualquier momento.                                     
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa3" >
                                            ¿Cómo garantizan que los agentes sean confiables?
                                         </h4> 
                                    </div>
                                    <div id="fqa3" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                Todos los agentes inmobiliarios que utilizan nuestra plataforma deben registrarse con datos verificables y estar debidamente identificados. Esto nos permite mantener un entorno seguro y transparente para quienes publican búsquedas.
                                                <br>Si tuviste una experiencia inadecuada con un agente o creés que incumplió nuestras condiciones, podés comunicarte con nosotros escribiendo a Hola@AndoBuscando.com.ar o llamando al +54 11 1234-5678.                                          
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>

{% endblock %}
