{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Página Principal{% endblock %}

{% block content %}
        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h2 class="wow fadeInLeft animated">NUESTRAS POLÍTICAS DE PRIVACIDAD</h2>
                        <div class="title-line wow fadeInRight animated"></div>
                    </div>
                </div>
            </div>
        </div>
    
            <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">    

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <!--<h2>Our terms </h2>-->
                        <br>
                    </div>
                </div>

                <div class="row row-feat"> 
                    <div class="col-md-12">
                         <div class="col-sm-6 feat-list">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa11" >
                                            Recopilación de Información
                                         </h4> 
                                    </div>
                                    <div id="fqa11" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                Este sitio web puede recopilar datos personales mediante formularios de contacto o solicitudes de búsqueda de propiedades. Los datos solicitados pueden incluir:
                                                <ul>                                         
                                                    <li>Nombre completo</li>
                                                    <li>Dirección de correo electrónico</li>
                                                    <li>Número de teléfono</li>
                                                    <li>Preferencias de búsqueda (tipo de inmueble, ubicación, rango de precio, etc.)</li>
                                                    <li>Mensajes u observaciones ingresadas por el usuario</li>
                                                </ul>
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa22" >
                                            Uso de la Información
                                         </h4> 
                                    </div>
                                    <div id="fqa22" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                La información personal recopilada se utilizará exclusivamente para los siguientes fines:
                                                <ul>
                                                    <li> Contactar al usuario con un agente inmobiliario para asistirlo en su búsqueda de propiedades.</li>
                                                    <li> Ofrecer asesoramiento personalizado sobre inmuebles residenciales, comerciales o de otro tipo.</li>
                                                    <li> Brindar soporte y atención en relación con los servicios ofrecidos en el sitio.</li>
                                                    <li> Gestionar la relación entre el usuario y el agente.</li>                                      
                                                </ul>
                                                Los datos serán tratados únicamente para las finalidades declaradas y durante el tiempo estrictamente necesario.
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa33" >
                                            Divulgación de Información a Terceros
                                         </h4> 
                                    </div>
                                    <div id="fqa33" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                El sitio podrá compartir la información personal del usuario con agentes inmobiliarios o colaboradores autorizados con el único propósito de que estos puedan brindar atención directa sobre la búsqueda de inmuebles.
                                                <br>No se realizará ninguna cesión, venta o alquiler de datos a terceros con fines comerciales sin consentimiento expreso del titular.
                                                <br>También podrá compartirse información si fuera requerida por organismos públicos en cumplimiento de una obligación legal.
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 feat-list">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa1" >
                                            Seguridad de la Información
                                         </h4> 
                                    </div>
                                    <div id="fqa1" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                Se aplican medidas de seguridad técnicas y organizativas adecuadas para proteger los datos personales de accesos no autorizados, pérdida, alteración o destrucción.                                        
                                                <br>Estas medidas incluyen:
                                                <ul>
                                                    <li>Almacenamiento seguro de la información.</li>
                                                    <li>Acceso restringido solo a personal autorizado.</li>
                                                    <li>Supervisión del cumplimiento de la normativa de protección de datos.</li>
                                                </ul>
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2" >
                                            Derechos del titular de los datos
                                         </h4> 
                                    </div>
                                    <div id="fqa2" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                De acuerdo con la Ley Nº 25.326, el usuario tiene derecho a:
                                                <ul>
                                                    <li> Acceder a sus datos personales almacenados.</li>
                                                    <li> Solicitar la rectificación de datos inexactos o incompletos.</li>
                                                    <li> Solicitar la supresión de sus datos cuando lo desee, salvo obligaciones legales que impidan su eliminación.</li>
                                                </ul>
                                                Para ejercer estos derechos, el usuario podrá enviar un correo electrónico a Hola@AndoBuscando.com.ar indicando su solicitud.                                     
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                         <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa3" >
                                            Aviso legal de la Dirección Nacional de Protección de Datos Personales
                                         </h4> 
                                    </div>
                                    <div id="fqa3" class="panel-collapse collapse fqa-body">
                                        <div class="panel-body">
                                            <div>
                                                “El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326.
                                                <br>La Dirección Nacional de Protección de Datos Personales, órgano de control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.”                                           
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>


{% endblock %}
