{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Acciones Usuario{% endblock %}

{% block content %}
        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h2 class="wow fadeInLeft animated">Publicaciones</h2>
                        <div class="title-line wow fadeInRight animated"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                <div class="clearfix" > 
                    <div class="wizard-container">         
                    {% if publicaciones %}
                        <ul>
                            {% for publicacion in publicaciones %}
                                <li>
                                    <h3>{{ publicacion.titulo }}</h3>
                                    <p>{{ publicacion.descripcion }}</p>
                                    <a href="{% url 'editar_publicacion' pk=publicacion.pk %}" class="btn btn-default">Editar</a>
                                    <a href="{% url 'eliminar_publicacion' pk=publicacion.pk %}" class="btn btn-danger">Eliminar</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No tienes publicaciones.</p>
                    {% endif %}
                    <br>
                    <a href="{% url 'cargar_publicacion' %}" class="btn btn-primary">Crear publicación</a>
                    </div>  
                </div>
            </div>
        </div>

{% endblock %}