{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Búsquedas{% endblock %}

{% block content %}

<!-- Page header -->
<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Listado de búsquedas publicadas</h1>               
            </div>
        </div>
    </div>
</div>

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container"> 
        <div class="row  pr0 padding-top-40 properties-page">
            <div class="col-md-12 padding-bottom-40 large-search"> 
                <div class="search-form wow pulse" style="text-align: center;" data-wow-delay="0.8s">
                    <form action="" method="get" class="form-inline">
                        <div class="col-md-12">
                            <div class="form-group">                                   
                                <select name="localidad" id="localidad" class="selectpicker" data-live-search="true" title="Localidad">
                                    <option value="" selected disabled>Localidad</option>
                                    <option value="1">Almagro</option>
                                    <option value="2">Agronomía</option>
                                    <option value="3">Balvanera</option>
                                    <option value="4">Barracas</option>             
                                    <option value="5">Belgrano</option>
                                    <option value="6">Boedo</option>
                                    <option value="7">Caballito</option>
                                    <option value="8">Chacarita</option>
                                    <option value="9">Coghlan</option>
                                    <option value="10">Colegiales</option>
                                    <option value="11">Constitución</option>
                                    <option value="12">Flores</option>
                                    <option value="13">Floresta</option>
                                    <option value="14">La Boca</option>
                                    <option value="15">La Paternal</option>
                                    <option value="16">Liniers</option>
                                    <option value="17">Mataderos</option>
                                    <option value="18">Monte Castro</option>
                                    <option value="19">Monserrat</option>
                                    <option value="20">Nueva Pompeya</option>
                                    <option value="21">Núñez</option>
                                    <option value="22">Palermo</option>
                                    <option value="23">Parque Avellaneda</option>
                                    <option value="24">Parque Chacabuco</option>
                                    <option value="25">Parque Chas</option>
                                    <option value="26">Parque Patricios</option>
                                    <option value="27">Puerto Madero</option>
                                    <option value="28">Recoleta</option>
                                    <option value="29">Retiro</option>
                                    <option value="30">Saavedra</option>
                                    <option value="31">San Cristóbal</option>
                                    <option value="32">San Nicolás</option>
                                    <option value="33">San Telmo</option>
                                    <option value="34">Vélez Sársfield</option>
                                    <option value="35">Versalles</option>
                                    <option value="36">Villa Crespo</option>
                                    <option value="37">Villa del Parque</option>
                                    <option value="38">Villa Devoto</option>
                                    <option value="39">Villa General Mitre</option>
                                    <option value="40">Villa Lugano</option>
                                    <option value="41">Villa Luro</option>
                                    <option value="42">Villa Ortúzar</option>
                                    <option value="43">Villa Pueyrredón</option>
                                    <option value="44">Villa Real</option>
                                    <option value="45">Villa Riachuelo</option>
                                    <option value="46">Villa Santa Rita</option>
                                    <option value="47">Villa Soldati</option>
                                    <option value="48">Villa Urquiza</option>
                                </select>
                            </div>
                            <div class="form-group">                                     
                                <select name="tipo_operacion" id="tipo_operacion" class="selectpicker show-tick form-control">
                                    <option disabled selected> Operacion </option>
                                    <option value="1">Alquiler</option>
                                    <option value="2">Compra</option> 
                                </select>
                            </div>
                            <div class="form-group">
                                    <label for="price-range">Rango de precios:</label>
                                    <input type="number" name="min_precio" class="form-control" placeholder="Min($)">
                                    <input type="number" name="max_precio" class="form-control" placeholder="Max($)"><br />
                            </div>
                            <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                                <!-- End of  -->                
                    </form>
                </div>
            </div>

            <div class="col-md-12 clear"> 
                <div class="col-xs-10 page-subheader sorting pl0">
                    <ul class="sort-by-list">
                        <li class="active">
                            <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                Fecha de publicación <i class="fa fa-sort-amount-asc"></i>					
                            </a>
                        </li>
                    </ul><!--/ .sort-by-list-->
                </div>
                <div class="col-xs-2 layout-switcher">
                    <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                    <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>                          
                </div><!--/ .layout-switcher-->
            </div>

            <div class="col-md-12 clear "> 
                <div id="list-type" class="proerty-th">
                    {% for publicacion in publicaciones%}
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> {{publicacion.titulo}} </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> {{publicacion.moneda}} </span>
                                <span class="proerty-price pull-right"> $ {{publicacion.precio}} </span>
                                <p style="display: none;">{{publicacion.descripcion}}</p>
                                <div class="property-icon">
                                    <label> Loc: {{publicacion.localidad}} |</label>
                                    <label> Amb: {{publicacion.ambientes}} |</label>
                                    <label> Fecha public: {{publicacion.fecha_creacion}}</label>
                                </div>
                                <br>
                                <div class="text-right">
                                    <a href="{% url 'contactar_usuario' %}"><button type="submit" class="btn btn-default">Contactar</button></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}

                </div>
            </div>

            <div class="col-md-12 clear"> 
                <div class="pull-right">
                    <div class="pagination">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>                
    </div>
</div>

{% endblock %}