{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Cambiá tu contraseña{% endblock %}

{% block content %}
    <!-- Mostrar mensajes -->
    <div class="container">
        {% if messages %}
            <div class="alert alert-success fade-out">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Hola : <span class="orange strong">{{ user.first_name }} {{ user.last_name }} </span></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header --> 

        <!-- property area -->
        <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                        <form method="post">
                            {% csrf_token %}
                            <!-- Mostrar todos los errores, tanto globales como por campo -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <li><strong>{{ field.label }}:</strong> 
                                                    {% for error in field.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                            
                                        <!-- También mostrar errores globales, si los hay -->
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="profiel-header">
                                <h3>
                                    <b>CAMBIÁ</b> TU CONTRASEÑA <br>
                                    <small>No es necesario cambiarla, pero si lo deseas, ingresa una nueva contraseña.</small>
                                </h3>
                                <hr>
                            </div>

                            <div class="clear">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <label for="{{ form.password1.id_for_label }}">Nueva contraseña <small>(requerido)</small></label>
                                        <input name="password" type="password" id="{{ form.password1.id_for_label }}" class="form-control" placeholder="Ingresá una nueva contraseña" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.password2.id_for_label }}">Confirmá la nueva contraseña <small>(requerido)</small></label>
                                        <input name="repassword" type="password" id="{{ form.password2.id_for_label }}" class="form-control" placeholder="Reingresá la nueva contraseña" required>
                                    </div> 
                                </div>
                            </div>

                            <div class="clear">
                                <br>
                                <hr>
                                <br>
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <label for="{{ form.password_current.id_for_label }}">Contraseña actual</small></label>
                                        <input type="password" name="password_current" id="{{ form.password_current.id_for_label }}" class="form-control" placeholder="Ingresa tu contraseña actual para confirmar los cambios" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <br>
                                    <input type='submit' class='btn btn-finish btn-primary' name='update' value='Confirmar cambios' />
                                </div>
                           <br>
                    </form>

                </div>
            </div><!-- end row -->

        </div>
    </div>
{% endblock %}