{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Eliminar cuenta{% endblock %}

{% block content %}
<div class="page-head"> 
  <div class="container">
      <div class="row">
          <div class="page-head-content">
              <h1 class="page-title">Eliminar cuenta</h1>               
          </div>
      </div>
  </div>
</div>

  <!-- Área de inicio de sesión -->
  <div class="d-flex justify-content-center align-items-center" style="background-color: rgb(249, 249, 249); min-height: 60vh; display: flex; justify-content: center; align-items: center; text-align: center;">
    <div class="register-area" style="background-color: rgb(249, 249, 249); width: 100%; padding: 20px;">

  <h2>¿Estás seguro/a que deseás eliminar tu cuenta?</h2>
  <form action="{% url 'confirmar_eliminar_cuenta' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar mi cuenta</button>
    <a href="{% url 'index' %}" class="btn btn-default">Cancelar</a>
  </form>

</div>
</div>     
{% endblock %}
