{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Soy Agente{% endblock %}

{% block content %}
    <!-- Mostrar mensajes -->
    <div class="container">
        {% if messages %}
            <div class="alert alert-success fade-out">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Hola : <span class="orange strong">{{ user.first_name }} {{ user.last_name }} </span></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header --> 

        <!-- property area -->
        <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                        <form method="post">
                            {% csrf_token %}
                            <!-- Errores del formulario -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <li><strong>{{ field.label }}:</strong> 
                                                    {% for error in field.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="profiel-header">
                                <h3>
                                    <b>REGISTRATE</b> COMO AGENTE <br>
                                    <small>Está información servirá para validar que sos agente inmobiliario.</small>
                                </h3>
                                <hr>
                            </div>

                            <div class="clear">

                                <div class="col-sm-12 text-center padding-top-25">
                                    <div class="form-group">
                                        <label for="{{ form.is_agente.id_for_label }}">Soy Agente <small>(requerido)</small></label>
                                        <input type="checkbox" name="is_agente" id="{{ form.is_agente.id_for_label }}" class="form-control" {% if user.is_agente %}checked disabled{% endif %} required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="{{ form.matricula.id_for_label }}">Número de matrícula <small>(requerido)</small></label>
                                        <input type="text" name="matricula" id="{{ form.matricula.id_for_label }}" class="form-control input-agente" style="margin: 0 auto;
    width: 25%;" placeholder="12345..." {% if user.is_agente %}value="{{ user.matricula }}" disabled{% endif %} required>
                                    </div>
                                </div>
                            <div class="clear">
                                <br>
                                {% if user.is_agente %}
                                <div class="col-sm-12 text-center">
                                    <br>
                                    <p>Ya fuiste registrado como Agente Inmobiliario</p>
                                </div>
                                <hr>
                                <br>
                                {% else %} 
                            </div>
                            <div class="col-sm-12 text-center">
                                <br>
                                <input type="submit" class='btn btn-finish btn-primary' name='finish' value='Registrarse' />
                            </div>
                            {% endif %}
                            <br>
                    </form>

                </div>
            </div><!-- end row -->

        </div>
    </div>
{% endblock %}
