{% extends 'base.html' %}
{% load static %}

{% block title %}ANDO BUSCANDO | Propiedades{% endblock %}

{% block content %}

<!-- Page header -->
<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Listado de propiedades publicadas</h1>               
            </div>
        </div>
    </div>
</div>

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container"> 
        <div class="row  pr0 padding-top-40 properties-page">
            <div class="col-md-12 padding-bottom-40 large-search"> 
                <div class="search-form wow pulse">
                    <form action="" class=" form-inline">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Busqueda por características">
                            </div>
                            <div class="col-md-4">                                   
                                <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Localidad">
                                    <option>Palermo</option>
                                    <option>Belgrano</option>
                                    <option>Caballito</option>
                                    <option>Balvanera</option>
                                    <option>Nunez</option>
                                </select>
                            </div>
                            <div class="col-md-4">                                     
                                <select id="basic" class="selectpicker show-tick form-control">
                                    <option>Operacion</option>
                                    <option>Alquilar </option>
                                    <option>Comprar</option>  

                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="search-row">   

                                <div class="col-md-4">
                                    <label for="price-range">Rango de precios:</label>
                                    <input type="number" class="form-control" placeholder="Min($)">
                                    <input type="number" class="form-control" placeholder="Max($)"><br />
                                </div>
                                <!-- End of  -->  

                                <div class="col-md-4">
                                    <label for="property-geo">Metros cuadrados (m2) :</label>
                                    <input type="text" class="span2" value="" data-slider-min="20" 
                                           data-slider-max="1200" data-slider-step="1" 
                                           data-slider-value="[20,450]" id="property-geo" ><br />
                                    <b class="pull-left color">20m2</b> 
                                    <b class="pull-right color">1200m2</b>
                                </div>
                                <!-- End of  --> 

                                <div class="col-md-4">
                                    <label for="price-range">Ambientes:</label>
                                    <input type="text" class="span2" value="" data-slider-min="0" 
                                           data-slider-max="20" data-slider-step="1" 
                                           data-slider-value="[0,4]" id="min-baths" ><br />
                                    <b class="pull-left color">1</b> 
                                    <b class="pull-right color">20</b>
                                </div>
                                <!-- End of  -->
                            
                            </div>   
                        </div>                     
                    </form>
                </div>
            </div>

            <div class="col-md-12  clear"> 
                <div class="col-xs-10 page-subheader sorting pl0">
                    <ul class="sort-by-list">
                        <li class="active">
                            <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                Fecha de publicación <i class="fa fa-sort-amount-asc"></i>					
                            </a>
                        </li>
                    </ul><!--/ .sort-by-list-->
                </div>
                <div class="col-xs-2 layout-switcher">
                    <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                    <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>                          
                </div><!--/ .layout-switcher-->
            </div>

            <div class="col-md-12 clear "> 
                <div id="list-type" class="proerty-th">
                    {% for propiedad in propiedades%}
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="/propiedad/detalles_propiedad" >    
                                {% if propiedad.foto %}
                                    <img src="{{ propiedad.foto.url }}">
                                {% else %}
                                    <p>No hay imagen disponible</p>
                                {% endif %}</a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="/propiedad/detalles_propiedad">{{propiedad.titulo}}</a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda: </b>{{propiedad.moneda}} </span>
                                <span class="proerty-price pull-right"> $ {{propiedad.precio}}</span>
                                <p style="display: none;">{{propiedad.descripcion}}</p>
                                <div class="property-icon">
                                    <label>Amb: {{propiedad.ambientes}}|</label>
                                    <label>Fecha public: {{propiedad.fecha_creacion}}</label>
                                </div>
                            </div>

                        </div>
                    </div> 
                    {% endfor %}
                    <!--
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="/propiedad/detalles_propiedad" ><img src="{% static 'assets/img/demo/property-2.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="/propiedad/detalles_propiedad"> Departamento 2 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> usd </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>
                                </div>
                            </div>

                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-1.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> PH 3 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> usd </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>
                                </div>
                            </div>

                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-3.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> Casa 4 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> usd </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>
                                </div>
                            </div>

                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-2.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> Departamento 5 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> usd </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>
                                </div>
                            </div>

                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-1.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> PH 6 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> usd </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>
                                </div>
                            </div>

                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-3.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> Casa 7 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> usd </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>
                                </div>
                            </div>

                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-2.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> Departamento 8 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Moneda:</b> usd </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>
                                </div>
                            </div>


                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-1.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> PH 9 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Area :</b> 120m </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>  
                                </div>
                            </div>


                        </div>
                    </div> 

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-3.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> Casa 10 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Area :</b> 120m </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>  
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-2.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> Departamento 11 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Area :</b> 120m </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>  
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-1.jpg' %}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="property-1.html"> PH 12 </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Area :</b> 120m </span>
                                <span class="proerty-price pull-right"> $ 300,000</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <label>Amb: 5 |</label>
                                    <label>Fecha public: 02/05/2024</label>  
                                </div>
                            </div>

                        </div>
                    </div> 
                </div>
            </div> -->

            <div class="col-md-12 clear"> 
                <div class="pull-right">
                    <div class="pagination">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>                
    </div>
</div>

{% endblock %}